#open-home {
    position: relative;
    background-color: #eee;
    height: 100vh;
    background: url(./bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    text-align: center;
    .logo {
        width: 280px;
        margin: 240px auto 0 auto;
    }
    .create{
        position: absolute !important;
        width: 340px;
        height: 90px;
        background-color: #469af5;
        color: #fff;
        font-size: 28px;
        bottom: 100px;
        left: 0;
        right: 0;
        margin: auto;
    }
}