* {
  user-select: none;
}

/* 交易的滑块大小 */

.v-slider__thumb {
  width: 54px;
  height: 54px;
}

/* 主页轮播高度 */

.vux-swiper {
  height: 100% !important;
}

/* 转入弹框 */

.copy-view {
  background-color: #fff;
  text-align: center;
  padding: 50px 0;
}

.copy-view img {
  width: 100px;
  margin: 0 auto;
}

.copy-view p {
  font-size: 24px;
  color: #353535;
  margin-bottom: 0;
}

/* 助记词备份处弹出框 */

.backup-mnemonic-pop {
  background-color: #fff;
  text-align: center;
  padding: 50px 0 0 0;
  border-radius: 10px;
  overflow: hidden;
}

.backup-mnemonic-pop img {
  width: 120px;
  margin: 0 auto;
}

.backup-mnemonic-title {
  font-size: 28px;
  color: #353535;
  margin: 30px auto 24px auto;
}

.backup-mnemonic-content {
  padding: 0 20px;
  font-size: 22px;
  color: #999;
}

.backup-mnemonic-know {
  width: 100%;
  height: 80px;
  font-size: 24px;
  color: #fff !important;
  margin: 50px 0 0 0;
  background-color: #469af5 !important;
}

/* 助记词备份失败弹框 */

.backup-fail-pop {
  background-color: #fff;
  text-align: center;
  padding: 50px 0 0 0;
  border-radius: 10px;
  overflow: hidden;
}

.backup-fail-pop img {
  width: 90px;
  margin: 0 auto;
}

.backup-fail-title {
  font-size: 28px;
  color: #353535;
  margin: 30px auto 24px auto;
}

.backup-fail-content {
  padding: 0 20px;
  font-size: 22px;
  color: #999;
}

.backup-fail-know {
  width: 100%;
  height: 80px;
  font-size: 24px;
  color: #fff !important;
  margin: 40px 0 0 0;
  background-color: #469af5 !important;
}

/* 助记词备份成功弹框  */

.backup-success-pop {
  background-color: #fff;
  text-align: center;
  padding: 50px 0 0 0;
  border-radius: 10px;
  overflow: hidden;
}

.backup-success-pop img {
  width: 90px;
  margin: 0 auto;
}

.backup-success-title {
  font-size: 28px;
  color: #353535;
  margin: 30px auto 24px auto;
}

.backup-success-content {
  padding: 0 20px;
  font-size: 22px;
  color: #999;
}

.backup-success-confirm {
  box-shadow: none;
  float: left;
  width: 50%;
  height: 80px;
  font-size: 24px;
  color: #fff !important;
  margin: 40px 0 0 0;
  background-color: #469af5 !important;
}

.backup-success-cancel {
  box-shadow: none;
  float: left;
  width: 50%;
  height: 80px;
  font-size: 24px;
  color: #fff !important;
  margin: 40px 0 0 0;
  background-color: rgba(70, 154, 245, 0.4) !important;
}

.theme--light {
  background: transparent !important;
}

/* 转账提交成功弹框 */

.transfer-success-pop {
  background-color: #fff;
  text-align: center;
  padding: 50px 0 0 0;
  border-radius: 10px;
  overflow: hidden;
}

.transfer-success-pop img {
  width: 90px;
  margin: 0 auto;
}

.transfer-success-title {
  font-size: 28px;
  color: #353535;
  margin: 30px auto 24px auto;
}

.transfer-success-content {
  padding: 0 20px;
  font-size: 22px;
  color: #999;
}

.transfer-success-know {
  width: 100%;
  height: 80px;
  font-size: 24px;
  color: #fff !important;
  margin: 40px 0 0 0;
  background-color: #469af5 !important;
}

/* 导出密钥弹框 */

.export-privateKey-pop {
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}

.export-privateKey-title {
  position: relative;
  padding: 0 40px;
  text-align: left;
  font-size: 32px;
  color: #666;
  height: 100px;
  line-height: 100px;
}

.export-privateKey-title i {
  position: absolute;
  right: 40px;
  font-size: 34px;
  color: #999;
}

.export-privateKey-safeTip {
  text-align: left;
  width: 576px;
  margin: 20px 40px;
  padding: 30px 20px;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #e60012;
  background-color: #ffdada;
  border-radius: 10px;
}

.export-privateKey-privateKey {
  width: 576px;
  margin: 40px 40px 20px 40px;
  padding: 30px 20px;
  font-size: 24px;
  color: #666;
  background-color: #eee;
  border-radius: 10px;
  word-break: break-all;
}

.export-privateKey-copy {
  width: 100%;
  height: 100px;
  font-size: 24px;
  color: #fff !important;
  margin: 40px 0 0 0;
  background-color: #469af5 !important;
}

/* 密码验证确认弹框 */

.password-confirm-pop {
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}

.password-confirm-title {
  position: relative;
  padding: 0 40px;
  font-size: 32px;
  color: #666;
  height: 100px;
  line-height: 100px;
}

.password-confirm-title i {
  position: absolute;
  right: 40px;
  font-size: 34px;
  color: #999;
}

.password-confirm-input {
  width: 570px;
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #eee;
  margin: 40px 0;
  outline: none;
  transition: all 0.4s;
  font-size: 26px;
  color: #353535;
}

.password-confirm-input:focus {
  border-bottom: 1px solid #469af5;
}

.password-confirm-input::-webkit-input-placeholder {
  font-size: 26px;
  color: #999;
}

.password-confirm-sure {
  width: 100%;
  height: 100px;
  font-size: 24px;
  color: #fff !important;
  margin: 40px 0 0 0;
  background-color: #469af5 !important;
}

/* 删除联系人弹框 */

.delect-contact-pop {
  background-color: #fff;
  text-align: center;
  padding: 50px 0 0 0;
  border-radius: 10px;
  overflow: hidden;
}

.delect-contact-pop img {
  width: 120px;
  margin: 0 auto;
}

.delect-contact-title {
  font-size: 28px;
  color: #353535;
  margin: 30px auto 24px auto;
}

.delect-contact-content {
  padding: 0 20px;
  font-size: 22px;
  color: #999;
}

.delect-contact-confirm {
  box-shadow: none;
  float: left;
  width: 50%;
  height: 80px;
  font-size: 24px;
  color: #fff !important;
  margin: 40px 0 0 0;
  background-color: #469af5 !important;
}

.delect-contact-cancel {
  box-shadow: none;
  float: left;
  width: 50%;
  height: 80px;
  font-size: 24px;
  color: #fff !important;
  margin: 40px 0 0 0;
  background-color: rgba(70, 154, 245, 0.4) !important;
}

/* 修改钱包名称 弹框 */

.change-name-pop {
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}

.change-name-title {
  position: relative;
  padding: 0 40px;
  font-size: 32px;
  color: #000;
  height: 100px;
  line-height: 100px;
  text-align: left;
}

.change-name-title i {
  position: absolute;
  right: 40px;
  font-size: 34px;
  color: #999;
}

.change-name-input {
  width: 570px;
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #eee;
  margin: 40px 0;
  outline: none;
  transition: all 0.4s;
  font-size: 26px;
  color: #353535;
}

.change-name-input:focus {
  border-bottom: 1px solid #469af5;
}

.change-name-input::-webkit-input-placeholder {
  font-size: 26px;
  color: #999;
}

.change-name-sure {
  width: 100%;
  height: 100px;
  font-size: 24px;
  color: #fff !important;
  margin: 40px 0 0 0;
  background-color: #469af5 !important;
}

/* 修改钱包名称 弹框 */

.change-password-pop {
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}

.change-password-title {
  position: relative;
  padding: 0 40px;
  font-size: 32px;
  color: #000;
  height: 100px;
  line-height: 100px;
  text-align: left;
}

.change-password-title i {
  position: absolute;
  right: 40px;
  font-size: 34px;
  color: #999;
}

.change-password-input1 {
  width: 570px;
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #eee;
  margin: 40px 0 10px 0;
  outline: none;
  transition: all 0.4s;
  font-size: 26px;
  color: #353535;
}

.change-password-input2 {
  width: 570px;
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #eee;
  margin: 0px 0 10px 0;
  outline: none;
  transition: all 0.4s;
  font-size: 26px;
  color: #353535;
}

.change-password-input3 {
  width: 570px;
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #eee;
  margin: 0px 0 60px 0;
  outline: none;
  transition: all 0.4s;
  font-size: 26px;
  color: #353535;
}

input:focus {
  border-bottom: 1px solid #469af5;
}

input::-webkit-input-placeholder {
  font-size: 26px;
  color: #999;
}

.change-password-sure {
  width: 100%;
  height: 100px;
  font-size: 24px;
  color: #fff !important;
  margin: 40px 0 0 0;
  background-color: #469af5 !important;
}
